@using CFMMCD.Sessions

@{
    ViewBag.Title = "Home";
    UserAccessSession UASession = new UserAccessSession();
    if (Session["UserAccess"] != null)
    {
        UASession = (UserAccessSession)Session["UserAccess"];
    }
}

<div class="header"><h2>@ViewBag.Title</h2></div>
<div>
    <div class="container position1 scrollable-button">
        <div class="panel-group" role="tablist">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <a role="tab" href="#collapse1" class="btn btn-danger" type="button" data-toggle="collapse"><span class="glyphicon glyphicon-align-right"></span> All Page</a>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <ul class="list-group">

                        @{ if (UASession.MIM)
                            {
                                <li class="list-group-item">@Html.ActionLink("Menu Item Master", "Index", "MenuItemMaster")</li>
                            }
                            if (UASession.RIM)
                            {
                                <li class="list-group-item">@Html.ActionLink("Raw Item Master", "Index", "Home")</li>
                            }
                            if (UASession.MER)
                            {
                                <li class="list-group-item">@Html.ActionLink("Menu Recipe", "Index", "Home")</li>
                            }
                            if (UASession.STP)
                            {
                                <li class="list-group-item">@Html.ActionLink("Store Profile", "Index", "StoreProfile")</li>
                            }
                            if (UASession.VEM)
                            {
                                <li class="list-group-item">@Html.ActionLink("Vendor Master", "Index", "Home")</li>
                            }
                            if (UASession.VAM)
                            {
                                <li class="list-group-item">@Html.ActionLink("Value Meal", "Index", "Home")</li>
                            }
                            if (UASession.UAP)
                            {
                                <li class="list-group-item">
                                    <a role="menuitem" a data-toggle="collapse" tabindex="-1" href="#collapse2"><span class="glyphicon glyphicon-chevron-down"></span>&emsp;User access </a>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <ul class="list-group">
                                            <li class="list-group-item">@Html.ActionLink("Create user account", "CreateAccount", "Account")</li>
                                            <li class="list-group-item">@Html.ActionLink("Edit user account", "CreateAccount", "Account")</li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            if (UASession.MIP)
                            {
                                <li class="list-group-item">@Html.ActionLink("Menu Item Price Update", "Index", "Home")</li>
                            }
                            if (UASession.SCM)
                            {
                                <li class="list-group-item">@Html.ActionLink("SCM Master Recipe", "Index", "Home")</li>
                            }
                            if (UASession.TEG)
                            {
                                <li class="list-group-item">@Html.ActionLink("Text Generation", "Index", "TextGenerator")</li>
                            }
                            if (UASession.RIM)
                            {
                                <li class="list-group-item">@Html.ActionLink("Raw Item Price Update", "Index", "Home")</li>
                            }
                            if (UASession.AUL)
                            {
                                <li class="list-group-item">@Html.ActionLink("Audit log", "Index", "AuditLog")</li>
                            }
                            if (UASession.REG)
                            {
                                <li class="list-group-item">@Html.ActionLink("Report generation", "Index", "Home")</li>
                            }

                            <li class="list-group-item">
                                <a role="menuitem" a data-toggle="collapse" tabindex="-1" href="#collapse3"><span class="glyphicon glyphicon-chevron-down"></span>&emsp;Table Maintenance</a>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        @{ if (UASession.LOC)
                                            {
                                                <li class="list-group-item">@Html.ActionLink("Location", "Index", "Home")</li>
                                            }
                                            if (UASession.PRC)
                                            {
                                                <li class="list-group-item">@Html.ActionLink("Profit center", "Index", "Home")</li>
                                            }
                                            if (UASession.OWN)
                                            {
                                                <li class="list-group-item">@Html.ActionLink("Ownership", "Index", "Home")</li>
                                            }
                                            if (UASession.BUE)
                                            {
                                                <li class="list-group-item">@Html.ActionLink("Business Extension", "Index", "Home")</li>
                                            }
                                            if (UASession.TIP)
                                            {
                                                <li class="list-group-item">
                                                    <a role="menuitem" a data-toggle="collapse" tabindex="-1" href="#collapse4"><span class="glyphicon glyphicon-chevron-down"></span>&emsp;Tier Page</a>
                                                    <div id="collapse4" class="panel-collapse collapse">
                                                        <ul class="list-group">
                                                            <li class="list-group-item">@Html.ActionLink("Dessert Enterprise Tier", "Index", "Home")</li>
                                                            <li class="list-group-item">@Html.ActionLink("Breakfast Price Tier", "Index", "Home")</li>
                                                            <li class="list-group-item">@Html.ActionLink("Regular Price Tier", "Index", "Home")</li>
                                                            <li class="list-group-item">@Html.ActionLink("McCafe level 2 Price Tier", "Index", "Home")</li>
                                                            <li class="list-group-item">@Html.ActionLink("McCafe level 3 Price Tier", "Index", "Home")</li>
                                                            <li class="list-group-item">@Html.ActionLink("McCafe BISTRO Price Tier", "Index", "Home")</li>
                                                            <li class="list-group-item">@Html.ActionLink("MDS Price Tier", "Index", "Home")</li>
                                                            <li class="list-group-item">@Html.ActionLink("Project Gold Price Tier", "Index", "Home")</li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--naka auto scroll na to pag naREAch yung max height-->
    <div class="position2 col-lg-5">
        <div class="panel panel-default scrollable">
            <div class="panel-heading" align="center"><strong>Notification</strong><span class="badge">New</span></div>
            <div class="panel-body">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>
