@using CFMMCD.Sessions

@{
    ViewBag.Title = "Home";
    UserAccessSession UASession = new UserAccessSession();
    if (Session["UserAccess"] != null)
    {
        UASession = (UserAccessSession)Session["UserAccess"];
    }
}

    <div class="header"><h2>@ViewBag.Title</h2></div>
<div class="container">
    <div class="col-lg-4" style="padding-left:0">
        <div class="scrollable-button">
            <div class="start">
                <button role="tab" href="#collapse1" class="btn btn-default btn-blk" type="button" data-toggle="collapse"><span class="glyphicon glyphicon-align-right"></span> All Page</button>
            </div>
            <div class="panel-group" role="tablist">
                <div class="panel panel-default">
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">

                            @{ if (UASession.MIM)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Menu Item Master", "Index", "MenuItemMaster")</li>
                                }
                                if (UASession.RIM)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Raw Item Master", "Index", "Home")</li>
                                }
                                if (UASession.MER)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Menu Recipe (UD)", "Index", "Home")</li>
                                }
                                if (UASession.STP)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Store Profile", "Index", "StoreProfile")</li>
                                }
                                if (UASession.VEM)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Vendor Master", "Index", "Home")</li>
                                }
                                if (UASession.VAM)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Value Meal (UD)", "Index", "Home")</li>
                                }
                                if (UASession.UAP)
                                {
                                    <li class="list-group-item">
                                        <a role="menuitem" data-toggle="collapse" tabindex="-1" href="#collapse2">User access&emsp;<span class="glyphicon glyphicon-chevron-down right"></span></a>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <ul class="list-group">
                                                <li class="list-group-item">@Html.ActionLink("Manage user account (UD)", "CreateAccount", "Account")</li>
                                                <li class="list-group-item">@Html.ActionLink("Manage user access (UD)", "CreateAccount", "Account")</li>
                                            </ul>
                                        </div>
                                    </li>
                                }
                                if (UASession.MIP)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Menu Item Price Update", "Index", "MenuItemPriceUpdate")</li>
                                }
                                if (UASession.SCM)
                                {
                                    <li class="list-group-item">@Html.ActionLink("SCM Master Recipe (UD)", "Index", "Home")</li>
                                }
                                if (UASession.TEG)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Text Generation (UD)", "Index", "TextGenerator")</li>
                                }
                                if (UASession.RIM)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Raw Item Price Update", "Index", "RawItemPriceUpdate")</li>
                                }
                                if (UASession.AUL)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Audit log", "Index", "AuditLog")</li>
                                }
                                if (UASession.REG)
                                {
                                    <li class="list-group-item">@Html.ActionLink("Report generation (UD)", "Index", "Home")</li>
                                }

                                <li class="list-group-item">
                                    <a role="menuitem" data-toggle="collapse" tabindex="-1" href="#collapse3">Table Maintenance&emsp;<span class="glyphicon glyphicon-chevron-down right"></span></a>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <ul class="list-group">
                                            @{ if (UASession.LOC)
                                                {
                                                    <li class="list-group-item">@Html.ActionLink("Location (UD)", "Index", "Home")</li>
                                                }
                                                if (UASession.PRC)
                                                {
                                                    <li class="list-group-item">@Html.ActionLink("Profit center (UD)", "Index", "Home")</li>
                                                }
                                                if (UASession.OWN)
                                                {
                                                    <li class="list-group-item">@Html.ActionLink("Ownership (UD)", "Index", "Home")</li>
                                                }
                                                if (UASession.BUE)
                                                {
                                                    <li class="list-group-item">@Html.ActionLink("Business Extension (UD)", "Index", "Home")</li>
                                                }
                                                if (UASession.TIP)
                                                {
                                                    <li class="list-group-item">
                                                        <a role="menuitem" data-toggle="collapse" tabindex="-1" href="#collapse4">Tier Page&emsp;<span class="glyphicon glyphicon-chevron-down right"></span></a>
                                                        <div id="collapse4" class="panel-collapse collapse">
                                                            <ul class="list-group">
                                                                <li class="list-group-item">@Html.ActionLink("Dessert Enterprise Tier (UD)", "Index", "DessertPriceTier")</li>
                                                                <li class="list-group-item">@Html.ActionLink("Breakfast Price Tier (UD)", "Index", "BreakfastPriceTier")</li>
                                                                <li class="list-group-item">@Html.ActionLink("Regular Price Tier (UD)", "Index", "RegularPriceTier")</li>
                                                                <li class="list-group-item">@Html.ActionLink("McCafe level 2 Price Tier (UD)", "Index", "McCafeLevel2PriceTier")</li>
                                                                <li class="list-group-item">@Html.ActionLink("McCafe level 3 Price Tier (UD)", "Index", "McCafeLevel3PriceTier")</li>
                                                                <li class="list-group-item">@Html.ActionLink("McCafe BISTRO Price Tier (UD)", "Index", "McCafeBistroPriceTier")</li>
                                                                <li class="list-group-item">@Html.ActionLink("MDS Price Tier", "Index (UD)", "MDSPriceTier")</li>
                                                                <li class="list-group-item">@Html.ActionLink("Project Gold Price Tier (UD)", "Index", "ProjectGoldPriceTier")</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="container-fluid">
            <!--naka auto scroll na to pag naREAch yung max height-->
            <div class="panel panel-default">
                <div class="panel-heading">Notifications</div>
                <div class="panel-body">
                    <table class="table table-responsive">
                        <tbody>
                            <tr>Under construction</tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>