@model CFMMCD.Models.ViewModel.LocationViewModel
@using CFMMCD.Models.ViewModel;

@{
    ViewBag.Title = "Location";
    List<LocationViewModel> LCNList = (List<LocationViewModel>)ViewData["ModelList"];
}

<h2 align="center">@ViewBag.Title</h2>

<div class="form-horizontal">
    @using (Html.BeginForm("UpdateDelete", "Location", FormMethod.Post, new { }))
    {
        <div class="container-fluid">
            <div class="form-group">
                <div class="row" style="margin-top: 70px;">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="col-lg-1">
                            @Html.LabelFor(m => m.Id, "Id", new { @class = "control-label", @type = "number" })
                        </div>
                        <div class="col-lg-3">
                            @Html.TextBoxFor(m => m.Id, new { @class = "form-control input-sm", @Value = Model.Id, @maxlength = "6" })
                        </div>
                        <div class="col-lg-2" style="margin-left: 40px;">
                            @Html.LabelFor(m => m.LOCATN, "Location", new { @class = "control-label" })
                        </div>
                        <div class="col-lg-5" style="margin-left: -40px;">
                            @Html.TextBoxFor(m => m.LOCATN, new { @class = "form-control input-sm", @Value = Model.LOCATN, @maxlength = "1" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (LCNList != null)
                            {
                                foreach (LocationViewModel lcn in LCNList)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@lcn.Id</td>
                                        <td>@lcn.LOCATN</td>
                                    </tr>
                                }
                            }

                            else
                            {
                                <text>No Inputs</text>
                            }
                        }

                    </tbody>
                </table>
                <div class="right-fixed" align="center">
                    <button type="button" class="btn btn-default" name="command" value="Save">Save</button>
                    <button type="button" class="btn btn-default" name="command" value="Update">Update</button>
                    <button type="button" class="btn btn-default" name="command" value="Delete">Delete</button>
                </div>
            </div>
        </div>
                            }
</div>