@model CFMMCD.Models.ViewModel.StoreProfileViewModel

@{
    ViewBag.Title = "Store Profile";
}

<h2 align="center">Store Profile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StoreNameNumber, "Store Name/Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.StoreNameNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StoreNameNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="command" value="Search" class="btn btn-default" style="margin-left:770px; margin-top:-85px;" />
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.STORE_NO, "Store number", htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:-43px; margin-top:-15px;" })
            <div class="col-md-3" style="margin-left:-5px; margin-top:-20px;">
                @Html.TextBoxFor(model => model.STORE_NO, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.STORE_NO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STORE_NAME, "Store name", htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:385px; margin-top:-50px;" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.STORE_NAME, new { @class = "form-control", @style = "margin-left:585px; margin-top:-50px;" })
                @Html.ValidationMessageFor(model => model.STORE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ADDRESS, "address", htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:-58px; margin-top:-10px;" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.ADDRESS, new { @class = "form-control", @style = "margin-top:-12px; margin-left:10px; width:94%;" })
                @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="business-container">
            <h4><strong>&emsp;Business Extension</strong></h4>
            <div class="form-group">
                @Html.LabelFor(model => model.Hrs24Input, "24-hrs", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Hrs24Input)
                        @Html.ValidationMessageFor(model => model.Hrs24Input, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MallInput, "Mall", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.MallInput)
                        @Html.ValidationMessageFor(model => model.MallInput, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.McVanInput, "McVan", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.McVanInput)
                        @Html.ValidationMessageFor(model => model.McVanInput, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.McDeliveryInput, "McDelivery", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.McDeliveryInput)
                        @Html.ValidationMessageFor(model => model.McDeliveryInput, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DriveThruInput, "Drive thru", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.DriveThruInput)
                        @Html.ValidationMessageFor(model => model.DriveThruInput, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TakeOutCounterInput, "Take out counter", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.TakeOutCounterInput)
                        @Html.ValidationMessageFor(model => model.TakeOutCounterInput, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="tier-container">
            <div class="form-group">
                @Html.LabelFor(model => model.BREAKFAST_PRICE_TIER, "Breakfast tier", htmlAttributes: new
               {
                   @class = "control-label col-md-3",
                   @style = "margin-top:-245px;"
               })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.BREAKFAST_PRICE_TIER, new { @class = "form-control", @style = "margin-left:230px; margin-top:-245px;" })
                    @Html.ValidationMessageFor(model => model.BREAKFAST_PRICE_TIER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.REGULAR_PRICE_TIER, "Regular price tier", htmlAttributes: new
           {
               @class = "control-label col-md-3",
               @style = "margin-top:-245px;"
           })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.REGULAR_PRICE_TIER,  new { @class = "form-control", @style = "margin-left:230px; margin-top:-245px;" })
                    @Html.ValidationMessageFor(model => model.REGULAR_PRICE_TIER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DC_PRICE_TIER, "DC price tier", htmlAttributes: new
           {
               @class = "control-label col-md-3",
               @style = "margin-top:-219px; margin-left:-10px;"
           })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.DC_PRICE_TIER, new { @class = "form-control", @style = "margin-left:230px; margin-top:-219px;" })
                    @Html.ValidationMessageFor(model => model.DC_PRICE_TIER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MDS_PRICE_TIER, "MDS price tier", htmlAttributes: new
           {
               @class = "control-label col-md-3",
               @style = "margin-top:-192px; margin-left:-2px;"
           })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.MDS_PRICE_TIER, new { @class = "form-control", @style = "margin-left:230px; margin-top:-192px;" })
                    @Html.ValidationMessageFor(model => model.MDS_PRICE_TIER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MCCAFE_LEVEL_2_PRICE_TIER, "McCafe Level 2 price tier",  htmlAttributes: new
           {
               @class = "control-label col-md-3",
               @style = "margin-top:-165px;"
           })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.MCCAFE_LEVEL_2_PRICE_TIER, new { @class = "form-control", @style = "margin-left:230px; margin-top:-165px;" })
                    @Html.ValidationMessageFor(model => model.MCCAFE_LEVEL_2_PRICE_TIER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MCCAFE_LEVEL_3_PRICE_TIER, "McCafe level 3 price tier", htmlAttributes: new
               {
                   @class = "control-label col-md-3",
                   @style = "margin-top:-137px;"
               })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.MCCAFE_LEVEL_3_PRICE_TIER, new { @class = "form-control", @style = "margin-left:230px; margin-top:-137px;" })
                    @Html.ValidationMessageFor(model => model.MCCAFE_LEVEL_3_PRICE_TIER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MCCAFE_BISTRO_PRICE_TIER, "McCafe BISTRO price tier", htmlAttributes: new
           {
               @class = "control-label col-md-3",
               @style = "margin-top:-108px;"
           })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.MCCAFE_BISTRO_PRICE_TIER, new { @class = "form-control", @style = "margin-left:230px; margin-top:-108px;" })
                    @Html.ValidationMessageFor(model => model.MCCAFE_BISTRO_PRICE_TIER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROJECT_GOLD_PRICE_TIER, "Project Gold price tier", htmlAttributes: new
           {
               @class = "control-label col-md-3",
               @style = "margin-top:-80px;"
           })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.PROJECT_GOLD_PRICE_TIER, new { @class = "form-control", @style = "margin-left:230px; margin-top:-80px;" })
                    @Html.ValidationMessageFor(model => model.PROJECT_GOLD_PRICE_TIER, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="location-container">
            <div class="form-group">
                @Html.LabelFor(model => model.PROFIT_CENTER, "Profit center", htmlAttributes: new
               {
                   @class = "control-label col-md-3",
                   @style = "margin-top:-398px;"
               })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PROFIT_CENTER, new { @class = "form-control", @style = "margin-left:150px; margin-top:-398px;" })
                    @Html.ValidationMessageFor(model => model.PROFIT_CENTER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OWNERSHIP, "Ownership", htmlAttributes: new
           {
               @class = "control-label col-md-3",
               @style = "margin-top:-373px;"
           })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.OWNERSHIP, new { @class = "form-control", @style = "margin-left:150px; margin-top:-373px;" })
                    @Html.ValidationMessageFor(model => model.OWNERSHIP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.REGION, "Region", htmlAttributes: new
           {
               @class = "control-label col-md-3",
               @style = "margin-top:-348px;"
           })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.REGION, new { @class = "form-control", @style = "margin-left:150px; margin-top:-348px;" })
                    @Html.ValidationMessageFor(model => model.REGION, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROVINCE, "Province", htmlAttributes: new
               {
                   @class = "control-label col-md-3",
                   @style = "margin-top:-323px;"
               })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PROVINCE, new { @class = "form-control", @style = "margin-left:150px; margin-top:-323px;" })
                    @Html.ValidationMessageFor(model => model.PROVINCE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LOCATION, "Location", htmlAttributes: new
           {
               @class = "control-label col-md-3",
               @style = "margin-top:-298px;"
           })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.LOCATION, new { @class = "form-control", @style = "margin-left:150px; margin-top:-298px;" })
                    @Html.ValidationMessageFor(model => model.LOCATION, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CITY, "City", htmlAttributes: new
                {
                   @class = "control-label col-md-3",
                   @style = "margin-top:-273px;"
                })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CITY, new { @class = "form-control", @style = "margin-left:150px; margin-top:-273px;" })
                    @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <h4 align="center"><strong>Store Attributes</strong></h4>
        <div class="container">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.SOFT_SERVE_OR_VANILLA_POWDER_MIX, "Soft serve or vanilla powder mix", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.TextBoxFor(model => model.SOFT_SERVE_OR_VANILLA_POWDER_MIX, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SOFT_SERVE_OR_VANILLA_POWDER_MIX, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FRESH_OR_FROZEN, "Fresh or frozen", htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.TextBoxFor(model => model.FRESH_OR_FROZEN, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FRESH_OR_FROZEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.SIMPLOT_OR_MCCAIN, "Simplot or McCain", htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.TextBoxFor(model => model.SIMPLOT_OR_MCCAIN, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SIMPLOT_OR_MCCAIN, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PAPER_OR_PLASTIC, "Paper or plastic", htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.TextBoxFor(model => model.PAPER_OR_PLASTIC, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PAPER_OR_PLASTIC, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.MCCORMICK_OR_GSF, "McCormick or GSF", htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.TextBoxFor(model => model.MCCORMICK_OR_GSF, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MCCORMICK_OR_GSF, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="button-container" align="center">
            <div class="form-group">
                <input type="submit" name="command" value="Save" class="btn btn-default" />
                <input type="submit" name="command" value="Update" class="btn btn-default" />
                <input type="submit" name="command" value="Delete" class="btn btn-default" />
            </div>
        </div>
    </div>
}
