@model CFMMCD.Models.ViewModel.ReportGenerationViewModel
@using CFMMCD.Models.ViewModel
@{
    ViewBag.Title = "Report Generation";
}
<div class="center">
    <h2>@ViewBag.Title</h2>
</div><br/>
<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissable fade in">@TempData["ErrorMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissable fade in">@TempData["SuccessMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
    }
</div>
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-3">
                <div class="col-lg-8  col-lg-offset-4">
                    @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "Store Number"  }
                            }, "value", "text", "0"), new { @class = "form-control input-sm" })
                </div>
                <div class="col-lg-8 col-lg-offset-4">
                    <label class="form-label2"> @Html.RadioButtonFor(m => m.DUMMY, "List of Stores") List of Stores</label>
                </div>
            </div>
            <div class="col-lg-5">
                @Html.TextBoxFor(m => m.DUMMY, new { @class = "form-control input-sm" })
                <div class="col-lg-3">
                    <label class="form-label2">@Html.RadioButtonFor(m => m.DUMMY, "Items:") Items:</label>
                </div>
                <div class="col-lg-3">
                    <label class="checkbox-inline form-label2">@Html.CheckBoxFor(m => m.DUMMYb)Menu Item</label>
                </div>
                <div class="col-lg-3">
                    <label class="checkbox-inline form-label2">@Html.CheckBoxFor(m => m.DUMMYb)Recipe</label>
                </div>
                <div class="col-lg-3">
                    <label class="checkbox-inline form-label2">@Html.CheckBoxFor(m => m.DUMMYb)Raw Items</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-5">
                    <label class="form-label2 input-sm">Date From</label>
                </div>
                <div class="col-lg-7">
                    @Html.TextBoxFor(m => m.DUMMY, new { @class = "form-control input-sm" })
                </div><br /><br />
                <div class="col-lg-5">
                    <label class="form-label2 input-sm">Date To</label>
                </div>
                <div class="col-lg-7">
                    @Html.TextBoxFor(m => m.DUMMY, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
    }
</div>
<hr />
<!--store profile-->
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group form-horizontal">
                    <div class="col-lg-offset-7">
                        <h3><strong>Store Profile</strong></h3>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4 col-lg-offset-1">
                            <label class="checkbox-inline form-label">@Html.CheckBoxFor(m => m.DUMMYb)NP3</label>
                        </div>
                        <div class="col-lg-4">
                            <label class="checkbox-inline form-label">@Html.CheckBoxFor(m => m.DUMMYb)NP6</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <div class="col-lg-6">
                                <label class="form-label2 input-sm">Breakfast Price Tier</label>
                            </div>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <div class="col-lg-6">
                                <label class="form-label2 input-sm">Regulars Price Tier</label>
                            </div>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            }, "value", "text", "0"), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <div class="col-lg-6">
                                <label class="form-label2 input-sm">McDelivery Price Tier</label>
                            </div>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <div class="col-lg-6">
                                <label class="form-label2 input-sm">Dessert Center Price Tier</label>
                            </div>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <div class="col-lg-6">
                                <label class="form-label2 input-sm">McCafe Level2 Price Tier</label>
                            </div>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <div class="col-lg-6">
                                <label class="form-label2 input-sm">McCafe Level3 Price Tier</label>
                            </div>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <div class="col-lg-6">
                                <label class="form-label2 input-sm">McCafe BISTRO Price Tier</label>
                            </div>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <div class="col-lg-6">
                                <label class="form-label2 input-sm">Project Gold  Price Tier</label>
                            </div>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <br /><br /><br />
                <div>
                    <h4 align="center"><strong>Business Extension</strong></h4>
                </div>
                <div class="form-group" contenteditable="false">
                    <div class="col-lg-offset-1">
                        <label class="checkbox-inline form-label">@Html.CheckBoxFor(m => m.DUMMYb)24HRS</label>
                    </div>
                    <div class="col-lg-offset-1">
                        <label class="checkbox-inline form-label">@Html.CheckBoxFor(m => m.DUMMYb)Mall</label>
                    </div>
                    <div class="col-lg-offset-1">
                        <label class="checkbox-inline form-label">@Html.CheckBoxFor(m => m.DUMMYb)McVan</label>
                    </div>
                    <div class="col-lg-offset-1">
                        <label class="checkbox-inline form-label">@Html.CheckBoxFor(m => m.DUMMYb)McDelivery</label>
                    </div>
                    <div class="col-lg-offset-1">
                        <label class="checkbox-inline form-label">@Html.CheckBoxFor(m => m.DUMMYb)Drive Thru</label>
                    </div>
                    <div class="col-lg-offset-1">
                        <label class="checkbox-inline form-label">@Html.CheckBoxFor(m => m.DUMMYb)Take Out Counter</label>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label input-sm">Ownership</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label2 input-sm">Profit Center</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div><br /><br /><br />
            <div class="col-lg-4">
                <div align="center">
                    <h4><strong>Raw Item Profile</strong></h4>
                </div>
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label input-sm">Location</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label input-sm">Region</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label input-sm">Province</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label input-sm">City</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label input-sm">Paper/Plastic</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label input-sm">Frozen/Fresh</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label input-sm">Simplot/McCain</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label input-sm">McCornick/GSF</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div>
                        <div class="col-lg-4">
                            <label class="form-label2 input-sm">Soft Serve/Vanilla Powder Mix</label>
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.DUMMY, new SelectList(
                            new List<Object>{
                                new { value = "0" , text = "1"  }
                            },
                            "value",
                            "text",
                            "0"), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox col-lg-2 col-lg-offset-3">
                    <label class="control=label">
                        <input type="checkbox">Export to Excel
                    </label>
                </div><br />
                <div class="checkbox col-lg-2">
                    <label class="control=label">
                        <input type="checkbox">Export to PDF
                    </label>
                </div>
                <div class="col-lg-1">
                    <a href="@Url.Action("ExportPDF", "ReportGeneration")" type="button" class="btn btn-danger">Export</a>
                </div>
            </div>
        </div>
    }
</div>
