@model CFMMCD.Models.ViewModel.MenuItemMasterViewModel
@using CFMMCD.Models.ViewModel

@{
    ViewBag.Title = "Menu Item Price Update";
}
<h2 align="center">@ViewBag.Title</h2>
<hr/>
<!--Alerts-->
<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissable fade in">@TempData["ErrorMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissable fade in">@TempData["SuccessMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
    }
</div>
<div class="form-horizontal">
    <div class="container-fluid">
        <input type="search" class="form-control" id="SearchFrontEnd" placeholder="Search menu item" />
    </div>
    <hr />
    <div class="row">
        @using (Html.BeginForm("UpdateDelete", "MenuItemPriceUpdate", FormMethod.Post, new { }))
        {
            <div class="col-lg-12">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2"></th>
                            <th rowspan="2">Menu Item</th>
                            <th rowspan="2">Menu name</th>
                            <th colspan="2">Tier A</th>
                            <th colspan="2">Tier B</th>
                            <th colspan="2">Tier C</th>
                            <th rowspan="2">Effective date</th>
                        </tr>
                        <tr>
                            <th>Old price</th>
                            <th>New price</th>
                            <th>Old price</th>
                            <th>New price</th>
                            <th>Old price</th>
                            <th>New price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            for (int i = 0; i < Model.MenuItemPriceList.Count(); i++)
                            {
                                string activeOrInactive = "active";
                                if (Model.MenuItemPriceList[i].MIMSTA.Equals("1"))
                                {
                                    activeOrInactive = "inactive";
                                }
                                <tr class="@Model.MenuItemPriceList[i].MIMMIC @Model.MenuItemPriceList[i].MIMNAM @activeOrInactive tr-collapse">
                                    <td></td>
                                    <td>
                                        @Html.LabelFor(m => Model.MenuItemPriceList[i].MIMMIC, Model.MenuItemPriceList[i].MIMMIC, new { @class = "form-label" })
                                        @Html.HiddenFor(m => Model.MenuItemPriceList[i].MIMMIC)
                                    </td>
                                    <td>@Html.LabelFor(m => Model.MenuItemPriceList[i].MIMNAM, Model.MenuItemPriceList[i].MIMNAM, new { @class = "form-label" })</td>
                                    <td>@Html.TextBoxFor(m => Model.MenuItemPriceList[i].OLDPRA, new { @class = "form-control", @type = "number" })</td>
                                    <td>@Html.TextBoxFor(m => Model.MenuItemPriceList[i].NEWPRA, new { @class = "form-control", @type = "number" })</td>
                                    <td>@Html.TextBoxFor(m => Model.MenuItemPriceList[i].OLDPRB, new { @class = "form-control", @type = "number" })</td>
                                    <td>@Html.TextBoxFor(m => Model.MenuItemPriceList[i].NEWPRB, new { @class = "form-control", @type = "number" })</td>
                                    <td>@Html.TextBoxFor(m => Model.MenuItemPriceList[i].OLDPRC, new { @class = "form-control", @type = "number" })</td>
                                    <td>@Html.TextBoxFor(m => Model.MenuItemPriceList[i].NEWPRC, new { @class = "form-control", @type = "number" })</td>
                                    <td>@Html.TextBoxFor(m => Model.MenuItemPriceList[i].EffectiveDate, new { @class = "form-control", @type="date" })</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table> 

            </div>
            <div class="form-inline bottom float" style="right:50px">
                <button type="submit" name="command" value="Save" class="btn btn-default">Save</button>
            </div>
            <!--div class="row" style="overflow-y:scroll">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Group name</th>
                            <th></th>
                            <th>Eat in</th>
                            <th>Take out</th>
                            <th>Non-product</th>
                            <th>Others</th>
                            <th>Effective date</th>
                        </tr>
                    </thead>
                    <tbody style="max-height:150px;position:relative">
                        <tr>
                            <td>Tier A</td>
                            <td></td>
                            <td>Html.TextBoxFor(m => Model.OLDPRA, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDPAO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDAOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDNPA, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.EDTA, new { class = "form-control input-sm", type = "date" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>New price</td>
                            <td>Html.TextBoxFor(m => Model.NEWPRA, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWPAO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWAOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWNPA, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.PNDA, new { class = "form-control input-sm", type = "date" })</td>
                        </tr>

                        <tr>
                            <td>Tier B</td>
                            <td></td>
                            <td>Html.TextBoxFor(m => Model.OLDPRB, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDPBO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDBOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDNPB, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.EDTB, new { class = "form-control input-sm", type = "date" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>New price</td>
                            <td>Html.TextBoxFor(m => Model.NEWPRB, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWPBO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWBOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWNPB, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.PNDB, new { class = "form-control input-sm", type = "date" })</td>

                        </tr>

                        <tr>
                            <td>Tier C</td>
                            <td></td>
                            <td>Html.TextBoxFor(m => Model.OLDPRC, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDPCO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDCOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDNPC, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.EDTC, new { class = "form-control input-sm", type = "date" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>New price</td>
                            <td>Html.TextBoxFor(m => Model.NEWPRC, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWPCO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWCOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWNPC, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.PNDC, new { class = "form-control input-sm", type = "date" })</td>

                        </tr>

                        <tr>
                            <td>Tier D</td>
                            <td></td>
                            <td>Html.TextBoxFor(m => Model.OLDPRD, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDPDO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDDOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDNPD, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.EDTD, new { class = "form-control input-sm", type = "date" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>New price</td>
                            <td>Html.TextBoxFor(m => Model.NEWPRD, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWPDO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWDOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWNPD, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.PNDD, new { class = "form-control input-sm", type = "date" })</td>

                        </tr>

                        <tr>
                            <td>Tier E</td>
                            <td></td>
                            <td>Html.TextBoxFor(m => Model.OLDPRE, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDPEO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDEOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDNPE, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.EDTE, new { class = "form-control input-sm", type = "date" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>New price</td>
                            <td>Html.TextBoxFor(m => Model.NEWPRE, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWPEO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWEOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWNPE, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.PNDE, new { class = "form-control input-sm", type = "date" })</td>

                        </tr>
                        <tr>
                            <td>Tier F</td>
                            <td></td>
                            <td>Html.TextBoxFor(m => Model.OLDPRF, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDPFO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDFOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDNPF, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.EDTF, new { class = "form-control input-sm", type = "date" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>New price</td>
                            <td>Html.TextBoxFor(m => Model.NEWPRF, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWPFO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWFOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWNPF, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.PNDF, new { class = "form-control input-sm", type = "date" })</td>

                        </tr>

                        <tr>
                            <td>Tier MD</td>
                            <td></td>
                            <td>Html.TextBoxFor(m => Model.OLDMDS, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDMDO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDMOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDMDN, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.EDTM, new { class = "form-control input-sm", type = "date" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>New price</td>
                            <td>Html.TextBoxFor(m => Model.NEWMDS, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWMDO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWMOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWMDN, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.PNDM, new { class = "form-control input-sm", type = "date" })</td>

                        </tr>
                        <tr>
                            <td>Tier S</td>
                            <td></td>
                            <td>Html.TextBoxFor(m => Model.OLDPRS, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDPSO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDSOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.OLDNPS, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.EDTS, new { class = "form-control input-sm", type = "date" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>New price</td>
                            <td>Html.TextBoxFor(m => Model.NEWPRS, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWPSO, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWSOT, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.NEWNPS, new { class = "form-control input-sm" })</td>
                            <td>Html.TextBoxFor(m => Model.PNDS, new { class = "form-control input-sm", type = "date" })</td>

                        </tr>
                    </tbody>
                </table>

            </!div-->
        }
    </div>
</div>


<script>
   
</script>
