@model CFMMCD.Models.ViewModel.RegularPriceTierViewModel
@using CFMMCD.Models.ViewModel;

@{
    ViewBag.Title = "Regular Price Tier";
    List<RegularPriceTierViewModel> RPTList = (List<RegularPriceTierViewModel>)ViewData["ModelList"];
}

<h2 align="center">@ViewBag.Title</h2>
<!--Alerts-->
<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissable fade in">@TempData["ErrorMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissable fade in">@TempData["SuccessMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
    }
</div>
<div class="form-horizontal">
    @using (Html.BeginForm("UpdateDelete", "RegularPriceTier", FormMethod.Post, new { }))
    {
        <div class="container-fluid">
            <div class="form-group">
                <div class="row" style="margin-top: 70px;">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="col-lg-4">
                            @Html.LabelFor(m => m.Id, "Id", new { @class = "control-label", @type = "number" })
                            @Html.TextBoxFor(m => m.Id, new { @class = "form-control input-sm", @Value = Model.Id, @maxlength = "6" })
                        </div>
                        <div class="col-lg-8">
                            @Html.LabelFor(m => m.Price_Tier, "Price Tier", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Price_Tier, new { @class = "form-control input-sm", @Value = Model.Price_Tier, @maxlength = "1" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Price Tier</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.RegPTList != null)
                            {
                                // for each RegPTList declared in ViewModel
                                foreach (RegularPriceTierViewModel rpt in Model.RegPTList)
                                {
                                    <tr class="tr-element">
                                        <td></td>
                                        <td class="td-id">@rpt.Id</td>
                                        <td class="td-name">@rpt.Price_Tier</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="text-danger">No data available</tr>
                            }
                        }
                    </tbody>
                </table>
                <!--Right aligned button group-->
                <div class="right-fixed" align="right">
                    <button type="submit" class="btn btn-default" name="command" value="Save">Save</button>
                    <button type="submit" class="btn btn-default" name="command" value="Delete">Delete</button>
                </div>
            </div>
        </div>
                            }
</div>

<script>
    // Row selection script
    $(window).ready(function () {
        $(".tr-element").click(function (e) {
            var id = $(this).children(".td-id").text();
            var name = $(this).children(".td-name").text();
            $("#Id").val(id);
            $("#Price_Tier").val(name);
        });
    });
</script>