@model CFMMCD.Models.ViewModel.AccountViewModel


@{
    ViewBag.Title = "Create User Account";
}

<div class="center-sm">
    <div class="header"><h1>@ViewBag.Title</h1></div>
    @{
        if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissable fade in">@TempData["SuccessMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
        }
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.PasswordVerify, new { @class = "form-control", @placeholder = "Confirm password" })
            @Html.ValidationMessageFor(m => m.PasswordVerify, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.AllExceptUAC)
                    All Except User Account Access
                </label>
            </div>
            <div contentEditable="false" style="height:200px; overflow-y:scroll">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.MIMInput)
                        Menu Item Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.RIMInput)
                        Raw Item Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.MERInput)
                        Menu Recipe Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.STPInput)
                        Store Profile Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.SCMInput)
                        SCM Master Recipe Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.VEMInput)
                        Vendor Master Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.VAMInput)
                        Value Meal Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.UAPInput)
                        User Access
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.MIPInput)
                        Menu Item Price Update Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.RIPInput)
                        Raw Item Price Update Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.AULInput)
                        Audit Log Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.REGInput)
                        Report Generation
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.TEGInput)
                        Text Generation
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.TIPInput)
                        Tier Pages
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.BUEInput)
                        Business Extension Maintenance Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.OWNInput)
                        Ownership Maintenance Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.PRCInput)
                        Profit Center Maintenance Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.LOCInput)
                        Location Maintenance Page
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => Model.GRPInput)
                        Groups Maintenance Page
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default btn-block">
        </div>
    }
</div>

