@model CFMMCD.Models.ViewModel.RawItemMasterViewModel
@using CFMMCD.Models.ViewModel
@using CFMMCD.DropDown

@{
	ViewBag.Title = "Raw Item Master";
}

<h2 align="center">@ViewBag.Title</h2>
<hr />
<!--Alerts-->
<div class="container">
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger alert-dismissable fade in">@TempData["ErrorMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
	}
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alert alert-success alert-dismissable fade in">@TempData["SuccessMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
	}
</div>
<div class="form-horizontal">
    <div class="container-fluid">
        <div class="col-lg-10 col-lg-offset-1">
            <input type="text" class="form-control" placeholder="Search raw item" id="search_dummy" />
        </div>
    </div>
    <hr />
	<div class="container-fluid">
		@using (Html.BeginForm("UpdateDelete", "RawItemMaster", FormMethod.Post, new { }))
		{
			<div class="row">
				<!-- Row 1 Col 1-->
				<div class="col-lg-4">
					<div class="col-lg-12">
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMRIC, "Raw item number", new { @class = "form-label" })
							@Html.TextBoxFor(m => Model.RIMRIC, new { @class = "form-control input-sm", @Value = Model.RIMRIC, @max = "99999", @type = "number", @required = "required" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMRID, "Raw item name", new { @class = "form-label" })
							@Html.TextBoxFor(m => Model.RIMRID, new { @class = "form-control input-sm", @Value = Model.RIMRID, @maxlength = "16", @required = "required" })
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									@Html.LabelFor(m => Model.RIMPIS, "Inventory period", new { @class = "form-label" })
									@Html.DropDownListFor(m => Model.RIMPIS, new SelectList( new List<Object>{
									    new { value = "0" , text = "Day"  },
									    new { value = "1" , text = "Week" },
									    new { value = "2" , text = "Month" } }, "value", "text", Model.RIMPIS), new { @class = "form-control input-sm" })
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									@Html.LabelFor(m => Model.RIMRIG, "Raw item group", new { @class = "form-label" })
									@Html.DropDownListFor(m => Model.RIMRIG, new SelectList( Model.MaterialsGroupList, "value", "text", Model.RIMRIG), new { @class = "form-control input-sm" })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									@Html.LabelFor(m => Model.RIMUMC, "Unit of Usage (UN)", new { @class = "form-label" })
									@Html.DropDownListFor(m => Model.RIMUMC, new SelectList( Model.UnitOfMeasureList, "value", "text", Model.RIMUMC), new { @class = "form-control input-sm" })
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									@Html.LabelFor(m => Model.RIMUPC, "Unit of Usage per CS", new { @class = "form-label" })
									@Html.TextBoxFor(m => Model.RIMUPC, new { @class = "form-control input-sm", @type = "number" })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									@Html.LabelFor(m => Model.RIMBZP, "Sub unit (TRAY)", new { @class = "form-label" })
									@Html.DropDownListFor(m => Model.RIMBZP, new SelectList(Model.UnitOfMeasureList,"value", "text", Model.RIMBZP), new { @class = "form-control input-sm" })
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									@Html.LabelFor(m => Model.RIMSUQ, "Sub unit per CS", new { @class = "form-label" })
									@Html.TextBoxFor(m => Model.RIMSUQ, new { @class = "form-control input-sm", @type = "number", @max = "99999999" })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									@Html.LabelFor(m => Model.RIMBVP, "Packing unit (CS)", new { @class = "form-label" })
									@Html.DropDownListFor(m => Model.RIMBVP, new SelectList(Model.UnitOfMeasureList, "value", "text", Model.RIMBVP), new { @class = "form-control input-sm" })
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									@Html.LabelFor(m => Model.RIMLAY, "CS/Vendor unit", new { @class = "form-label" })
									@Html.TextBoxFor(m => Model.RIMLAY, new { @class = "form-control input-sm", @maxlength = "2" })
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Row 1 Col 2-->
				<div class="col-lg-2">

					<div class="col-lg-12">
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMPVN, "Primary vendor", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.RIMPVN, new SelectList( Model.PrimaryVendorList, "value", "text", Model.RIMPVN), new { @class = "form-control input-sm" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMLA1, "Warehouse 1", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.RIMLA1, new SelectList( new List<Object>{
								new { value = "0" , text = "Active"  },
								new { value = "1" , text = "Inactive" } }, "value", "text", Model.RIMLA1), new { @class = "form-control input-sm" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMLA2, "Warehouse 2", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.RIMLA2, new SelectList( new List<Object>{
								new { value = "0" , text = "Active"  },
								new { value = "1" , text = "Inactive" } }, "value", "text", Model.RIMLA2), new { @class = "form-control input-sm" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMUSF, "Yield", new { @class = "form-label" })
							@Html.TextBoxFor(m => Model.RIMUSF, new { @class = "form-control input-sm", @type = "number", @max = "8" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMERT, "Warehouse 2", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.RIMERT, new SelectList( new List<Object>{
								new { value = "0" , text = "Yes"  },
								new { value = "1" , text = "No" } }, "value", "text", Model.RIMERT ), new { @class = "form-control input-sm" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMADE, "Auto deliver", new { @class = "form-label" })
							@Html.TextBoxFor(m => Model.RIMADE, new { @class = "form-control input-sm", @type = "number", @max = "1" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMMSD, "Minimum days", new { @class = "form-label" })
							@Html.TextBoxFor(m => Model.RIMMSD, new { @class = "form-control input-sm", @type = "number", @max = "99999" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMORD, "Order item", new { @class = "form-label" })
							@Html.TextBoxFor(m => Model.RIMORD, new { @class = "form-control input-sm", @type = "number", @max = "1" })
						</div>
					</div>
				</div>
				<!--Row 1 Col 3-->
				<div class="col-lg-2">
					<div class="col-lg-12">
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMMSL, "Min. stock lvl", new { @class = "form-label" })
							@Html.TextBoxFor(m => Model.RIMMSL, new { @class = "form-control input-sm", @type = "number", @max = "999999999" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMBAR, "Barcode", new { @class = "form-label" })
							@Html.TextBoxFor(m => Model.RIMBAR, new { @class = "form-control input-sm", @maxlength = "13" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMPRO, "Raw promo", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.RIMPRO, new SelectList( new List<Object>{
								new { value = "0" , text = "Active"  },
								new { value = "1" , text = "Inactive" } }, "value", "text", Model.RIMPRO), new { @class = "form-control input-sm" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMSE4, "Recipe", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.RIMSE4, new SelectList( new List<Object>{
								new { value = "0" , text = "Active"  },
								new { value = "1" , text = "Inactive" } }, "value", "text", Model.RIMSE4), new { @class = "form-control input-sm" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMEDT, "Active on", new { @class = "form-label" })
							@Html.TextBoxFor(m => Model.RIMEDT, new { @class = "form-control input-sm", @type = "date", @required = "required" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMCWC, "Raw waste", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.RIMCWC, new SelectList( new List<Object>{
									new { value = "0" , text = "Active"  },
									new { value = "1" , text = "Inactive" } },"value", "text", Model.RIMCWC), new { @class = "form-control input-sm" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.RIMSTA, "Status", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.RIMSTA, new SelectList( new List<Object>{
									new { value = "0" , text = "Active"  },
									new { value = "1" , text = "Inactive" } }, "value", "text", Model.RIMSTA), new { @class = "form-control input-sm" })
						</div>
						<div class="form-group">
							@Html.Label("Menu affected", new { @class = "form-label" })
							@Html.TextBoxFor(m => Model.DUMMY, new { @class = "form-control input-sm" }) <!--DUMMY-->
						</div>
					</div>
				</div>
				<!--Row 1 Col 4-->
				<div class="col-lg-4">
					<h4>In Items</h4>
					<div class="panel panel-default">
						<div class="panel-body">
							<table class="table table-responsive table-hover">
								<thead>
									<tr>
										<th>Menu item number</th>
										<th>Menu item name</th>
									</tr>
								</thead>
								<tbody>
                                    @foreach (MenuItem vm in Model.MenuItemList)
                                    {
                                        <tr>
                                            <td>@vm.RIRMIC</td>
                                            <td>@vm.MIMDSC</td>
                                        </tr>
                                    }
                                </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-lg-3">
					<div class="col-lg-12">
						<div class="form-group">
							<label class="form-label">Location</label>
							@Html.DropDownListFor(m => Model.Location, new SelectList(Model.LocationList, "value", "text", Model.Location), new { @class = "form-control input-sm" })
						</div>
                        <div class="form-group">
                            @Html.LabelFor(model => Model.Region, "Region", new { @class = "form-label" })
                            @Html.DropDownListFor(m => Model.Region, new SelectList(new List<Object>()), new { @class = "form-control input-sm", @Id = "region", @Value = Model.Region })
                            <!--select id="region" name="Region" class="form-control input-sm"></!--select-->
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => Model.Province, "Province", new { @class = "form-label" })
                            @Html.DropDownListFor(m => Model.Province, new SelectList(new List<Object>()), new { @class = "form-control input-sm", @Id = "province", @Value = Model.Province })
                            <!--select-- id="province" name="Province" class="form-control input-sm"></!--select-->
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => Model.City, "City", new { @class = "form-label col-md-3" })
                            @Html.DropDownListFor(m => Model.City, new SelectList(new List<Object>()), new { @class = "form-control input-sm", @Id = "city", @Value = Model.City })
                            <!--select id="city" name="City" class="form-control input-sm"></!--select>-->
                        </div>

						<div class="form-group">
							<label class="form-label">Store list</label>
							@Html.DropDownListFor( m => Model.StoreSelected, new SelectList( Model.StoreList, "value", "text", Model.StoreSelected), new { @class = "form-control input-sm"} )
						</div>
						<div class="form-group">
							<label class="form-label">
								@Html.CheckBoxFor(m => Model.SelectAllCb)
								Select all
							</label>
							<label class="form-label">
								@Html.CheckBoxFor(m => Model.SelectExceptCb)
								Select except
							</label>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12">
						<div class="form-group">
							@Html.LabelFor(m => Model.SOFT_SERVE_OR_VANILLA_POWDER_MIX, "Soft serve or vanilla powder mix", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.SOFT_SERVE_OR_VANILLA_POWDER_MIX, new SelectList( new List<Object>{
                                new { value = "0" , text = ""  },
                                new { value = "SOFTSERVE" , text = "Soft serve"  },
                                new { value = "VANILLA" , text = "Vanilla powder mix" }}, "value", "text", Model.SOFT_SERVE_OR_VANILLA_POWDER_MIX), new { @class = "form-control input-sm store-attrib" })
							@Html.ValidationMessageFor(m => Model.SOFT_SERVE_OR_VANILLA_POWDER_MIX, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.FRESH_OR_FROZEN, "Fresh or frozen", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.FRESH_OR_FROZEN, new SelectList( new List<Object>{
                                new { value = "0" , text = ""  },
                                new { value = "FRESH" , text = "Fresh"  },
                                new { value = "FROZEN" , text = "Frozen" } }, "value", "text", Model.FRESH_OR_FROZEN), new { @class = "form-control input-sm store-attrib" })
							@Html.ValidationMessageFor(m => Model.FRESH_OR_FROZEN, "", new { @class = "text-danger" })
						</div>

						<div class="form-group">
							@Html.LabelFor(m => Model.SIMPLOT_OR_MCCAIN, "Simplot or McCain", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.SIMPLOT_OR_MCCAIN, new SelectList( new List<Object>{
                                new { value = "0" , text = ""  },
                                new { value = "SIMPLOT" , text = "Simplot"  },
                                new { value = "MCCAIN" , text = "McCain" } }, "value", "text", Model.SIMPLOT_OR_MCCAIN), new { @class = "form-control input-sm store-attrib" })
							@Html.ValidationMessageFor(m => Model.SIMPLOT_OR_MCCAIN, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => Model.PAPER_OR_PLASTIC, "Paper or plastic", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.PAPER_OR_PLASTIC, new SelectList(new List<Object>{
                                new { value = "0" , text = ""  },
                                new { value = "PAPER" , text = "Paper"  },
                                new { value = "PLASTIC" , text = "Plastic" }}, "value", "text", Model.PAPER_OR_PLASTIC ), new { @class = "form-control input-sm store-attrib" })
							@Html.ValidationMessageFor(m => Model.PAPER_OR_PLASTIC, "", new { @class = "text-danger" })
						</div>

						<div class="form-group">
							@Html.LabelFor(m => Model.MCCORMICK_OR_GSF, "McCormick or GSF", new { @class = "form-label" })
							@Html.DropDownListFor(m => Model.MCCORMICK_OR_GSF, new SelectList( new List<Object> {
                                new { value = "0" , text = ""  },
                                new { value = "MCORMICK" , text = "McCormick"  },
                                new { value = "GSF" , text = "GSF" }}, "value", "text", "0"), new { @class = "form-control input-sm store-attrib", @Value = Model.MCCORMICK_OR_GSF })
							@Html.ValidationMessageFor(m => Model.MCCORMICK_OR_GSF, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="col-lg-6" style="max-height:500px;overflow-y:auto">
					<div class="col-lg-12">
						<div class="form-inline">
							<div class="col-lg-8">
								@Html.TextBoxFor(m => Model.SearchVendor, new { @class = "form-control input-sm", @placeholder = "Search vendor" })
							</div>
						</div>
						<div class="form-group">
							<table class="table table-responsive table-hover">
								<thead>
									<tr>
										<th></th>
										<th>Vendor</th>
										<th>Price per CS</th>
										<th>Price per UN</th>
										<th>SCM Code</th>
                                        <th></th>
									</tr>
								</thead>
								<tbody>
									@{  if (Model.VendorList != null)
                                        {
                                            for (int i = 0; i < Model.VendorList.Count(); i++)
                                            {
                                                // Store previous values of selected vendors.
                                                // In case a selected vendor has been unselected,
                                                // the receiving method can compare the current vs previous checkbox values
                                                Model.PreviousVendorsSelectedList[i] = Model.VendorsSelectedList[i];
												<tr id="tr-@Model.VendorList[i].value" class="tr-vendor @Model.VendorList[i].value @Model.VendorList[i].text" for="@Model.VendorsSelectedList[i]">
													<td>
														@Html.CheckBoxFor(m => Model.VendorsSelectedList[i] )
                                                        @Html.HiddenFor(m => Model.PreviousVendorsSelectedList[i])
													</td>
													<td>
                                                        @Html.LabelFor(m => Model.VendorsSelectedList[i], Model.VendorList[i].text, new { @class = "form-label" })
                                                        @Html.HiddenFor(m => Model.VendorList[i].value )
                                                        @Html.HiddenFor(m => Model.VendorList[i].text )
													</td>
													<td>
														@Html.TextBoxFor(m => Model.VendorCPR[i], new { @class = "form-control input-sm", @Value = Model.VendorCPR.ElementAt(i) })
													</td>
													<td>
														@Html.TextBoxFor(m => Model.VendorPUN[i], new { @class = "form-control input-sm", @Value = Model.VendorPUN.ElementAt(i) })
													</td>
													<td>
                                                        @Html.TextBoxFor(m => Model.VendorSCM[i], new { @class = "form-control input-sm", @Value = Model.VendorSCM.ElementAt(i) })
													</td>
                                                    <td class="primary"></td>
												</tr>
                                            }
                                        }
                                        else
                                        {
											<tr>No vendors available</tr>
										}
									 }
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			<div class="form-inline bottom float" style="right:50px">
				<button type="submit" name="command" value="Switch" class="btn btn-default">Switch</button>
				<button type="submit" name="command" value="Save" class="btn btn-default">Save</button>
				<button type="submit" name="command" value="Delete" class="btn btn-default">Delete</button>
			</div>
		}
	</div>
</div>

<div class="modal fade" id="search-result-modal" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h4>All items</h4>
            <div class="container-fluid">
                <input type="search" class="form-control" id="SearchFrontEnd" placeholder="Search raw item" autofocus />
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <div class="modal-body">
                @for (int i = 0; i < Model.RawItemMasterList.Count(); i++)
                {
                    string ActiveInactive = "active";
                    if (Model.RawItemMasterList[i].RIMSTA.Equals("1"))
                    {
                        ActiveInactive = "inactive";
                    }
                    <button type="submit" class="modal-item-select tr-collapse @Model.RawItemMasterList[i].RIMRIC @Model.RawItemMasterList[i].RIMRID @ActiveInactive" name="value" value=@Model.RawItemMasterList[i].RIMRIC>
                        <div class="col-lg-3">
                            @Model.RawItemMasterList[i].RIMRIC
                        </div>
                        <div class="col-lg-9">
                            @Model.RawItemMasterList[i].RIMRID
                        </div>
                    </button>
                }
            </div>
        }
    </div>
</div>

<script>
    // Region, Province, and City Dropdown Handling
    @{
        string region = "NCR";
        string province = "";
        string city = "";
        if (@Model.Region != null)
        {
            region = @Model.Region;
        }
        if (@Model.Province != null)
        {
            province = @Model.Province;
        }
        if (@Model.City != null)
        {
            city = @Model.City;
        }
    }

    $(window).ready(function () {

        // Region, Province, City
	    $("option[value='@region'").attr("selected", "selected");
	    updateProvince();
	    $("option[value='@province'").attr("selected", "selected");
	    updateCity();
	    $("option[value='@city'").attr("selected", "selected");

        // Store Attribute Select
        setStoreAttribute();
        $(".store-attrib").click(function () {
            $(".store-attrib").not(this).each(function () {
                $(this).attr("value", "0");
                $(this).val("0");
                $(".store-attrib option[value='0']").attr("selected", "selected");
            });
            setStoreAttribute();
        });

        // Vendor search/ Auto filter
        disableInputsOnCb();
        setPrimaryVendor();
        $("#SearchVendor").keyup(function () {
            // Hide items not relevant to the search term
            if ($("#SearchVendor").val() != "") {
                var searchTerm = $("#SearchVendor").val().toLowerCase();
                $(".tr-vendor").addClass("hidden");
                $(".tr-vendor").each(function () {
                    if ($(this).attr("class").toLowerCase().includes(searchTerm) ||
                        $(this).children("td").children("[type='checkbox']").is(':checked'))
                        $(this).removeClass("hidden");
                });
            } else {
                $(".tr-vendor").removeClass("hidden");
            }
        });

        // Disable Vendor TextBoxes if checkbox is not checked
        $("[type='checkbox']").change(function () {
            disableInputsOnCb();
        });

        // Primary vendor. Automatically activates vendor in the list
        // if selected in the primary vendor dropdown
        var primaryVendor;
        var previousPrimary;
        $("#RIMPVN").change(function () {
            setPrimaryVendor();
        });

    });
    /* Sets the color of the dropdown 
     * depending on the selected value
     * to have a 'disabled' look
     */
    function setStoreAttribute() {
        $(".store-attrib").each(function () {
            if ($(this).val() == "0") {
                $(this).css("background-color", "#eee");
            } else {
                $(this).css("background-color", "white");
            }
        });
    }
    /* Activates (checkbox checked, textbox eneabled) the vendor
     * in the vendor list if the vendor is selected in the Primary Vendor dropdown
     */
	function setPrimaryVendor() {
	    primaryVendor = $("#RIMPVN").val();
	    // remove check and enable previously selected primary vendor
	    if ( $("#tr-" + previousPrimary).children("td").children("[type='text']").val() == "") {
	        $("#tr-" + previousPrimary).children("td").children("[type='checkbox']").removeAttr("checked");
	    }
	    $("#tr-" + previousPrimary).children("td").children("[type='checkbox']").removeClass("hidden");
	    $("#tr-" + previousPrimary).children(".primary").text("");
        // check and disable selected primary vendor
	    $("#tr-" + primaryVendor).children("td").children("[type='checkbox']").attr("checked", "checked");
	    $("#tr-" + primaryVendor).children("td").children("[type='checkbox']").addClass("hidden");
	    $("#tr-" + primaryVendor).children(".primary").text("Primary");
	    disableInputsOnCb();
	    previousPrimary = primaryVendor;
	}
    /* Disables textboxes in the row 
     * if checkbox is unchecked, v/v
    */
	function disableInputsOnCb() {
		$(".tr-vendor").each(function() {
		    if (!$(this).children("td").children("[type='checkbox']").is(':checked')) {
		        var textBox = $(this).children("td").children(".form-control");
		        textBox.css("background-color", "#eee");
		        textBox.click( function (e) {
		            e.preventDefault();
		            e.target.blur();
		        });
		    }
		    else {
		        var textBox = $(this).children("td").children(".form-control");
		        textBox.css("background-color", "white");
		        textBox.click( function (e) {
		            e.target.focus();
		        });
		    }
		    if ($(this).children(".primary").text() == "") {
		        $(this).css("background-color", "white");
		    }
		    else {
		        $(this).css("background-color", "#FFFFAA");
		    }
		});
	}
</script>


