@model CFMMCD.Models.ViewModel.MenuRecipeViewModel
@using CFMMCD.Models.ViewModel

@{
    ViewBag.Title = "Menu Recipe";
}


<h2 align="center">@ViewBag.Title</h2>
<hr />
<!--Alerts-->
<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissable fade in">@TempData["ErrorMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissable fade in">@TempData["SuccessMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
    }
</div>
<!--Main content starts here-->
<div class="form-horizontal">

    <div class="container-fluid">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="col-lg-12">
                <input type="text" class="form-control" placeholder="Search menu item" id="search_dummy" />
            </div>
        </div>
    </div>

    <hr />

    <div class="form-horizontal">
        @using (Html.BeginForm("UpdateDelete", "MenuRecipe", FormMethod.Post, new { @Id = "RecipeForm" }))
        {
            <div class="container-fluid">
                <div class="col-lg-3 col-lg-offset-3">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => Model.RIRMIC, "Menu item code", new { @class = "form-label" })
                        @Html.TextBoxFor(m => Model.RIRMIC, new { @class = "form-control", @type = "number", @maxlength = "6" })

                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => Model.MIMLON, "Menu item long name", new { @class = "form-label" })
                        @Html.TextBoxFor(m => Model.MIMLON, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-lg-3 col-lg-offset-3">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => Model.MIMDSC, "Description", new { @class = "form-label" })
                        @Html.TextBoxFor(m => Model.MIMDSC, new { @class = "form-control", @maxlength = "16" })
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => Model.Group, new { @class = "form-label" })
                        @Html.DropDownListFor(m => Model.Group, new SelectList(Model.GroupList, "value", "text", Model.Group), new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>

            <hr/>

            <div class="container-fluid">
                <table class="table-hover table-responsive table">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Raw item number</td>
                            <td>Raw item name</td>
                            <td>Factor</td>
                            <td>Price</td>
                            <td>Waste</td>
                            <td>Store attribute</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.MenuRecipeList != null || Model.MenuRecipeList.Count() <= 1)
                            {
                                for (int i = 0; i < Model.MenuRecipeList.Count(); i++)
                                {
                                    // Store Raw item ID in case the text box will be overwritten with new entry
                                    // So handler method can properly delete the Raw item entry.
                                    Model.MenuRecipeList[i].PreviousRIRRIC = Model.MenuRecipeList[i].RIRRIC;
                                    <!--Generated rows-->
                                    <tr>
                                        @Html.HiddenFor(m => Model.MenuRecipeList[i].RIRRID)
                                        <td></td>
                                        <td> 
                                            @Html.TextBoxFor(m => Model.MenuRecipeList[i].RIRRIC, new { @class = "tb-select form-control input-sm", @type = "number", @max = "99999"})
                                            @Html.HiddenFor(m => Model.MenuRecipeList[i].PreviousRIRRIC)
                                        </td>
                                        <td> @Html.DisplayFor(m => Model.MenuRecipeList[i].RIMRID, new { @class = "form-control input-sm" }) </td>
                                        <td> @Html.TextBoxFor(m => Model.MenuRecipeList[i].RIRSFQ, new { @class = "form-control input-sm",@type = "number", @max = "99999" }) </td>
                                        <td> @Html.DisplayFor(m => Model.MenuRecipeList[i].RIMCPR, new { @class = "form-control input-sm" }) </td>
                                        <td> @Html.DropDownListFor(m => Model.MenuRecipeList[i].RIRCWC, new SelectList(new List<Object>() {
                                            new { value = "0" , text = "Active"  },
                                            new { value = "1" , text = "Inactive" } }, "value", "text", Model.MenuRecipeList[i].RIRCWC), new { @class = "form-control input-sm", @maxlength = "1" })
                                        </td>
                                        <td>@Html.DisplayFor(m => Model.MenuRecipeList[i].STOATT, new { @class = "form-control input-sm" })</td>
                                        <td><button type="button" class="close delete-row">&times;</button></td>
                                    </tr>
                                }
                            }
                            <!--Empty row-->
                            <tr>
                                <td></td>
                                <td>@Html.TextBoxFor(m => m.RIRRIC[0], new { @class = "tb-select form-control input-sm", @type = "number", @max = "99999" })</td>
                                <td> @Html.DisplayFor(m => m.RIMRID[0], new { @class = "form-control input-sm", @maxlength = "20" }) </td>
                                <td> @Html.TextBoxFor(m => m.RIRSFQ[0], new { @class = "form-control input-sm", @type = "number", @max = "99999" }) </td>
                                <td> @Html.DisplayFor(m => m.RIMCPR[0], new { @class = "form-control input-sm" }) </td>
                                <td>
                                    @Html.DropDownListFor(m => m.RIRCWC[0], new SelectList( new List<Object>() {
                                            new { value = "0" , text = "Active"  },
                                            new { value = "1" , text = "Inactive" } }, "value", "text"), new { @class = "form-control input-sm", @maxlength = "1" })
                                </td>
                                <td>@Html.DisplayFor(m => m.STOATT[0], new { @class = "form-control input-sm" })</td>
                                <td><button type="button" class="close delete-row">&times;</button></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <!--Add new row-->
                        <tr id="add-row">
                            <td></td>
                            <td><button type="button" class="btn btn-default btn-sm" id="add-row">Add new raw item</button></td>
                        </tr>
                    </tfoot>
                </table> 
            </div>

            <div class="form-inline bottom float" style="right:50px">
                <button type="submit" name="command" value="Save" class="btn btn-default">Save</button>
            </div>
        }
    </div>
</div>

<!--Search result modal-->
<div class="modal fade" id="search-result-modal" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h4>All items</h4>
            <div class="container-fluid">
                <input type="search" class="form-control" id="SearchFrontEnd" placeholder="Search menu item" autofocus />
                <div class="input-group float-right" style="padding-top:8px">
                    <label class="checkbox-inline form-label">
                        @Html.CheckBoxFor(m => m.InactiveItemsCb)Show inactive items
                    </label>
                </div>
            </div>
            <hr />
            <div class="container-fluid text-center">
                <div class="col-lg-4"><strong>Menu item code</strong></div>
                <div class="col-lg-8"><strong>Menu item name</strong></div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <div class="modal-body">
                @for (int i = 0; i < Model.MenuItemList.Count(); i++)
                {
                    string ActiveInactive = "active";
                    if (Model.MenuItemList[i].MIMSTA.Equals("1"))
                    {
                        ActiveInactive = "inactive";
                    }
                    <button type="submit" class="modal-item-select tr-collapse @Model.MenuItemList[i].MIMMIC @Model.MenuItemList[i].MIMDSC @ActiveInactive" name="value" value=@Model.MenuItemList[i].MIMMIC>
                        <div class="col-lg-3">
                            @Model.MenuItemList[i].MIMMIC
                        </div>
                        <div class="col-lg-9">
                            @Model.MenuItemList[i].MIMDSC
                        </div>
                    </button>
                }
            </div>
        }
    </div>
</div>

<!--Search Raw Item Modal-->
<div class="modal fade" id="search-item-modal" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h4>Select Raw item</h4>
            <div class="container-fluid">
                <input type="search" class="form-control" id="SearchFrontEnd" placeholder="Search raw item" autofocus />
            </div>
        </div>
        <hr />
        <div class="container-fluid text-center">
            <div class="col-lg-4"><strong>Raw item code</strong></div>
            <div class="col-lg-8"><strong>Raw item name</strong></div>
        </div>
        <div class="modal-body">
            @for (int i = 0; i < Model.RawItemList.Count(); i++)
            {
                string ActiveInactive = "active";
                if (Model.RawItemList[i].RIMSTA.Equals("1"))
                {
                    ActiveInactive = "inactive";
                }
                    <button type="button" class="modal-item-select tr-collapse @Model.RawItemList[i].RIMRIC @Model.RawItemList[i].RIMRID @ActiveInactive" name="value" value=@Model.RawItemList[i].RIMRIC data-dismiss="modal">
                        <div class="col-lg-3">
                            @Model.RawItemList[i].RIMRIC
                        </div>
                        <div class="col-lg-9">
                            @Model.RawItemList[i].RIMRID
                        </div>
                    </button>
            }
        </div>
    </div>
</div>


<script>
    var index = 0;
    var TextBoxPressed;
    var newRow = '<tr>'+
                    '<td></td>'+
                    '<td><input class="tb-select form-control input-sm" id="RIRRIC_' + (++index) + '_" name="RIRRIC[' + index + ']" type="number" max="99999" value="" /></td>' +
                    '<td>  </td>' +
                    '<td> <input class="form-control input-sm" id="RIRSFQ_'+index+'_" name="RIRSFQ['+index+']" type="number" max="99999" value="" /> </td>' +
                    '<td></td>' +
                    '<td>' +
                        '<select class="form-control input-sm" id="RIRCWC_'+index+'_" name="RIRCWC['+index+']"><option value="0">Active</option>'+
                        '<option value="1">Inactive</option></select>' +
                    '</td>' +
                    '<td></td>' +
                    '<td><button type="button" class="close delete-row">&times;</button></td>' +
                '</tr>';

    $(window).ready(function () {

        setDeleteRowEventListener();
        $("#add-row").click(function() {
            if ($("tbody tr:last-child").children("td").children("input[type=number]").val() != "" || $("tbody tr:last-child").hasClass("hidden")) {
                $("tbody").append (newRow);
                setDeleteRowEventListener();
                setShowModalSelectListener();
            }
        });

        setShowModalSelectListener();

        $(".modal-item-select").click(onItemSelected);
    });

    function setDeleteRowEventListener() {
        $(".delete-row").click(function() {
            var hiddenTr = $("tbody .hidden").length;
            var totalTr = $("tbody tr").length;
            if (totalTr-hiddenTr > 1) {
                $(this).parent().siblings("td").each(function(){
                    $(this).children("input[type=number]").val("");
                });
                $(this).parent().parent("tr").addClass("hidden");
            }
        });
    }

    function setShowModalSelectListener() {
        $(".tb-select").click(function () {
            TextBoxPressed = $(this);
            $("#search-item-modal").modal("show");
        });
    }

    function onItemSelected() {
        TextBoxPressed.val($(this).val());
        $("#RecipeForm").submit();
    }
</script>