@model CFMMCD.Models.ViewModel.MenuRecipeViewModel
@using CFMMCD.Models.ViewModel

@{  int j = 0;
    int HasSearch = 0;
    if (TempData["SearchResult"] != null)
    {
        HasSearch = (int)TempData["SearchResult"];
    }
    ViewBag.Title = "Menu Recipe";
}


<h2 align="center">@ViewBag.Title</h2>
<hr />
<!--Alerts-->
<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissable fade in">@TempData["ErrorMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissable fade in">@TempData["SuccessMessage"]<button class="close" data-dismiss="alert" aria-label="close">&times;</button></div>
    }
</div>
<!--Main content starts here-->
<div class="form-horizontal">

    <div class="form-horizontal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="container-fluid">
                <div class="col-lg-2 col-lg-offset-2">
                    <label class="form-label" for="menu-item">Menu item/ Product name</label>
                </div>
                <div class="col-lg-5">
                    @Html.TextBoxFor(m => m.SearchItem, new { @class = "form-control" })
                    <div class="input-group float-right" style="padding-top:8px">
                        <label class="checkbox-inline form-label">
                            @Html.CheckBoxFor(m => m.InactiveItemsCb)Show inactive items
                        </label>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-1">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
                </div>
            </div>
        }
    </div>

    <hr />

    <div class="form-horizontal">
        @using (Html.BeginForm("UpdateDelete", "MenuRecipe", FormMethod.Post, new { }))
        {
            <div class="container-fluid">
                <div class="col-lg-3 col-lg-offset-3">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => Model.RIRMIC, "Menu item code", new { @class = "form-label" })
                        @Html.TextBoxFor(m => Model.RIRMIC, new { @class = "form-control" })

                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => Model.MIMLON, "Menu item long name", new { @class = "form-label" })
                        @Html.TextBoxFor(m => Model.MIMLON, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-lg-6 col-lg-offset-3">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => Model.MIMDSC, "Description", new { @class = "form-label" })
                        @Html.TextBoxFor(m => Model.MIMDSC, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <hr/>

            <div class="container-fluid">
                <table class="table-hover table-responsive table">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Raw item number</td>
                            <td>Raw item name</td>
                            <td>Factor</td>
                            <td>Price</td>
                            <td>Waste</td>
                            <td>Store attribute</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.MenuRecipeList != null || Model.MenuRecipeList.Count() <= 1)
                            {
                                for (int i = 0; i < Model.MenuRecipeList.Count(); i++)
                                {
                                    <!--Generated rows-->
                                    <tr>
                                        @Html.HiddenFor(m => Model.MenuRecipeList[i].RIRRID)
                                        <td></td>
                                        <td> @Html.TextBoxFor(m => Model.MenuRecipeList[i].RIRRIC, new { @class = "form-control input-sm" }) </td>
                                        <td> @Html.DisplayFor(m => Model.MenuRecipeList[i].RIMRID, new { @class = "form-control input-sm" }) </td>
                                        <td> @Html.TextBoxFor(m => Model.MenuRecipeList[i].RIRSFQ, new { @class = "form-control input-sm" }) </td>
                                        <td> @Html.TextBoxFor(m => Model.MenuRecipeList[i].RIMCPR, new { @class = "form-control input-sm" }) </td>
                                        <td> @Html.DropDownListFor(m => Model.MenuRecipeList[i].RIRCWC, new SelectList(new List<Object>() {
                                            new { value = "0" , text = "Active"  },
                                            new { value = "1" , text = "Inactive" } }, "value", "text"), new { @class = "form-control input-sm" })
                                        </td>
                                        <td>@Html.DisplayFor(m => Model.MenuRecipeList[i].STOATT, new { @class = "form-control input-sm" })</td>
                                    </tr>
                                }
                            }
                            <!--Empty row-->
                            <tr>
                                <td></td>
                                <td>@Html.TextBoxFor(m => m.RIRRIC[0], new { @class = "form-control input-sm" })</td>
                                <td> @Html.DisplayFor(m => m.RIMRID[0], new { @class = "form-control input-sm" }) </td>
                                <td> @Html.TextBoxFor(m => m.RIRSFQ[0], new { @class = "form-control input-sm" }) </td>
                                <td> @Html.TextBoxFor(m => m.RIMCPR[0], new { @class = "form-control input-sm" }) </td>
                                <td>
                                    @Html.DropDownListFor(m => m.RIRCWC[0], new SelectList( new List<Object>() {
                                            new { value = "0" , text = "Active"  },
                                            new { value = "1" , text = "Inactive" } }, "value", "text"), new { @class = "form-control input-sm" })
                                </td>
                                <td>@Html.DisplayFor(m => m.STOATT[0], new { @class = "form-control input-sm" })</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <!--Add new row-->
                        <tr id="add-row">
                            <td></td>
                            <td><button type="button" class="btn btn-default btn-sm" id="add-row">Add new raw item</button></td>
                        </tr>
                    </tfoot>
                </table> 
            </div>

            <div class="form-inline bottom float" style="right:50px">
                <button type="submit" name="command" value="Save" class="btn btn-default">Save</button>
            </div>
        }
    </div>
</div>

<!--Search result modal-->
<div class="modal fade" id="search-result-modal" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h4>Search results</h4>
        </div>
        @using (Html.BeginForm("DisplaySearchResult", "MenuRecipe", FormMethod.Post, new { }))
        {
            List<MenuItem> MIList = (List<MenuItem>)Session["ViewModelList"];
            if (MIList != null)
            {
                <div class="modal-body">
                    @{
                        if (HasSearch == 1 && MIList != null)
                        {
                            foreach (MenuItem vm in MIList)
                            {
                                <button type="submit" class="modal-item-select" name="value" value=@vm.RIRMIC>
                                    <div class="col-lg-3">
                                        @vm.RIRMIC
                                    </div>
                                    <div class="col-lg-9">
                                        @vm.MIMDSC
                                    </div>
                                </button>
                            }
                        }
                    }
                </div>
            }
        }
    </div>
</div>

<script>
    var index = 0;
    var newRow = '<tr>'+
                    '<td></td>'+
                        '<td><input class="form-control input-sm" id="RIRRIC_'+(++index)+'_" name="RIRRIC['+index+']" type="text" value="" /></td>' +
                        '<td>  </td>' +
                        '<td> <input class="form-control input-sm" id="RIRSFQ_'+index+'_" name="RIRSFQ['+index+']" type="text" value="" /> </td>' +
                        '<td> <input class="form-control input-sm" id="RIMCPR_'+index+'_" name="RIMCPR['+index+']" type="text" value="" /> </td>' +
                        '<td>' +
                            '<select class="form-control input-sm" id="RIRCWC_'+index+'_" name="RIRCWC['+index+']"><option value="0">Active</option>'+
                            '<option value="1">Inactive</option></select>' +
                        '</td>' +
                        '<td></td>' +
                    '</tr>';

    console.log(newRow);
    $(window).ready(function () {
        if (@HasSearch === 1) {
            $("#search-result-modal").modal('show');
        }

        $("#add-row").click(function() {
            $("tbody").append (newRow);
        });
    });
</script>