@model CFMMCD.Models.ViewModel.AuditLogViewModel
@using CFMMCD.Models.ViewModel;

@{
    ViewBag.Title = "Audit Log";
    List<AuditLogViewModel> ALLList = (List<AuditLogViewModel>) ViewData["ModelList"];
}

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <div class="container">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>User ID</th>
                    <th>Date and time</th>
                    <th>Page</th>
                    <th>Page action</th>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @{  foreach (AuditLogViewModel vm in ALLList)
                    {
                        <tr>
                            <td></td>
                            <td>@vm.UserId</td>
                            <td>@vm.Date_Time</td>
                            <td>@vm.Page</td>
                            <td>@vm.Page_Action</td>
                            <td>@vm.ItemId</td>
                            <td>@vm.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table> 
        @using (Html.BeginForm("ExpToExcel", "AuditLog", FormMethod.Post, new { }))
        {
            <div class="form-inline bottom float" style="right:50px">
                <button type="submit" class="btn btn-default" name="command" value="toPDF">Export to PDF</button>
                <button type="submit" class="btn btn-default" name="command" value="toExcel">Export as Spreadsheet</button>
            </div>
        }
    </div>
</div>