@using CFMMCD.Sessions
@{
    ViewBag.Title = "Home";
    UserAccessSession UASession = new UserAccessSession();
    if (Session["UserAccess"] != null)
    {
        UASession = (UserAccessSession)Session["UserAccess"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-submenu.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap-submenu.min.js"></script>
</head>
<body>
    @{
        CurrentPageSession CPSession = (CurrentPageSession)Session["CurrentPage"];
        if (CPSession == null)
        {
            CPSession = new CurrentPageSession();
            CPSession.Self = new CurrentPageSession.LinkString
            {
                LinkName = "Login",
                Action = "Login",
                Controller = "Account"
            };
        }

    }
    <div class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar glyphicon-menu-hamburger glyphicon"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index"><img class="img-responsive" src="~/Content/Images/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @{
                    if (CPSession.Grandparent != null)
                    {
                        <li>@Html.ActionLink(CPSession.Grandparent.LinkName, CPSession.Grandparent.Action, CPSession.Grandparent.Controller)</li>
                    }
                    if (CPSession.Parent != null)
                    {
                        if (CPSession.Parent.Controller.Equals("Home")) {
                            <li><a class="dropdown-toggle" type="button" data-toggle="dropdown" data-submenu aria-expanded="false" href="#">All Pages <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @{ if (UASession.MIM)
                                        {
                                            <li>@Html.ActionLink("Menu Item Master", "Index", "MenuItemMaster")</li>
                                        }
                                        if (UASession.RIM)
                                        {
                                            <li>@Html.ActionLink("Raw Item Master", "Index", "RawItemMaster")</li>
                                        }
                                        if (UASession.MER)
                                        {
                                            <li>@Html.ActionLink("Menu Recipe", "Index", "MenuRecipe")</li>
                                        }
                                        if (UASession.STP)
                                        {
                                            <li>@Html.ActionLink("Store Profile", "Index", "StoreProfile")</li>
                                        }
                                        if (UASession.VEM)
                                        {
                                            <li>@Html.ActionLink("Vendor Master", "Index", "VendorMaster")</li>
                                        }
                                        if (UASession.VAM)
                                        {
                                            <li>@Html.ActionLink("Value Meal", "Index", "ValueMeal")</li>
                                        }
                                        if (UASession.UAP)
                                        {
                                            <li class="dropdown-submenu">
                                                <a role="menu" data-toggle="dropdown" tabindex="-1" href="#">User access&emsp;</a>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Create user account", "CreateAccount", "Account")</li>
                                                    <li>@Html.ActionLink("Manage user account", "EditAccount", "Account")</li>
                                                    <li>@Html.ActionLink("Manage user access", "EditAccess", "Account")</li>
                                                </ul>
                                            </li>
                                        }
                                        if (UASession.MIP)
                                        {
                                            <li>@Html.ActionLink("Menu Item Price Update", "Index", "MenuItemPriceUpdate")</li>
                                        }
                                        if (UASession.SCM)
                                        {
                                            <li>@Html.ActionLink("SCM Master Recipe", "Index", "SCMRecipe")</li>
                                        }
                                        if (UASession.TEG)
                                        {
                                            <li>@Html.ActionLink("Text Generation (UD)", "Index", "TextGenerator")</li>
                                        }
                                        if (UASession.RIM)
                                        {
                                            <li>@Html.ActionLink("Raw Item Price Update", "Index", "RawItemPriceUpdate")</li>
                                        }
                                        if (UASession.AUL)
                                        {
                                            <li>@Html.ActionLink("Audit log", "Index", "AuditLog")</li>
                                        }
                                        if (UASession.REG)
                                        {
                                            <li>@Html.ActionLink("Report generation (UD)", "Index", "ReportGeneration")</li>
                                        }

                                        <li class="dropdown-submenu">
                                            <a role="menu" data-toggle="dropdown" tabindex="-0" href="#">Table Maintenance</a>
                                            <ul class="dropdown-menu">
                                                @{  
                                                    if (UASession.TIP)
                                                    {
                                               
                                                        <li class="dropdown-submenu">
                                                            <a role="menu" data-toggle="dropdown" tabindex="-1" href="#">Tier Page</a>
                                                            <ul class="dropdown-menu">
                                                                <li>@Html.ActionLink("Dessert Enterprise Tier (UD)", "Index", "DessertPriceTier")</li>
                                                                <li>@Html.ActionLink("Breakfast Price Tier (UD)", "Index", "BreakfastPriceTier")</li>
                                                                <li>@Html.ActionLink("Regular Price Tier (UD)", "Index", "RegularPriceTier")</li>
                                                                <li>@Html.ActionLink("McCafe level 2 Price Tier (UD)", "Index", "McCafeLevel2PriceTier")</li>
                                                                <li>@Html.ActionLink("McCafe level 3 Price Tier (UD)", "Index", "McCafeLevel3PriceTier")</li>
                                                                <li>@Html.ActionLink("McCafe BISTRO Price Tier (UD)", "Index", "McCafeBistroPriceTier")</li>
                                                                <li>@Html.ActionLink("MDS Price Tier", "Index (UD)", "MDSPriceTier")</li>
                                                                <li>@Html.ActionLink("Project Gold Price Tier (UD)", "Index", "ProjectGoldPriceTier")</li>
                                                            </ul>
                                                        </li>
                                                   
                                                    }
                                                    if (UASession.OWN)
                                                    {
                                                        <li>@Html.ActionLink("Ownership", "Index", "Ownership")</li>
                                                    }
                                                    if (UASession.BUE)
                                                    {
                                                        <li>@Html.ActionLink("Business Extension", "Index", "BusinessExtension")</li>
                                                    }
                                                    if (UASession.LOC)
                                                    {
                                                        <li>@Html.ActionLink("Location", "Index", "Location")</li>
                                                    }
                                                    if (UASession.PRC)
                                                    {
                                                        <li>@Html.ActionLink("Profit center", "Index", "ProfitCenter")</li>
                                                    }
                                                }
                                            </ul>

                                        </li>
                                    }
                                </ul>
                            </li>             
                        }
                        else 
                        {
                            <li>@Html.ActionLink(CPSession.Parent.LinkName, CPSession.Parent.Action, CPSession.Parent.Controller)</li>
                        }
                    }
                    if (CPSession.Self != null)
                    {
                        <li>@Html.ActionLink(CPSession.Self.LinkName, CPSession.Self.Action, CPSession.Self.Controller)</li>
                    }
                }
            </ul>
            @{if (CPSession.Self.Controller.Equals("MenuItemMaster") || CPSession.Self.Controller.Equals("RawItemMaster"))
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-placement="bottom" data-toggle="popover" data-title="Notifications" data-container="body" data-html="true" href="#">Notifications <span class="badge">New</span></a></li>
                        <li id="popover-content" class="hide col-lg-5">
                            <div class="content-height">
                                <table class="table-hover table-responsive table-condensed">
                                    <tbody>
                                        <tr>Under construction</tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                }
            }

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Search.js"></script>
</body>
</html>
<script>
    /*pop over*/
    /*jslint browser: true*/
    /*global $, jQuery*/
    $(document).ready(function () {
        "use strict";
        $("[data-toggle=popover]").popover({
            html: true,
            content: function () {
                return $('#popover-content').html();
            }
        });
        // For v2 [data-toggle="dropdown"] is required for [data-submenu].
        // For v2 .dropdown-submenu > [data-toggle="dropdown"] is forbidden.
        $('[data-submenu]').submenupicker();
    });
</script>